.section {
  background-color: var(--main-color-faint);
  padding-top: 16px;
  overflow: hidden;
}

.categoryHeader {
  width: 95%;
  margin: auto;
  /* overflow: scroll; */
}

.card_list {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 64px;
  overflow-x: scroll;
  padding: 10px 42px;
  padding-bottom: 32px;
  width: 90%;
  margin: auto;
}

.card_list::-webkit-scrollbar {
  width: 2px;
  height: 3px;
}

.card_list::-webkit-scrollbar-track {
  background: var(--gray);
  border-radius: 2px;
  height: 3px;
}

.card_list::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 6px;
}
