.section {
  width: 90%;
  margin: auto;
  background-color: #cdefe9;
  margin-top: 16px;
  border-radius: 20px;
}

.flex_container {
  display: flex;
}

.flex_container > div {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.content {
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: start;
}

.content h6 {
}

.btn_container {
  display: flex;
  align-items: start;
  justify-content: start;
}

.image_container {
  position: relative;
}

.image {
  width: 265px;
  height: auto;
}

.header {
  text-align: left;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .flex_container {
    display: flex;
    flex-direction: column-reverse;
  }

  .card_list {
    grid-template-columns: 1fr 1fr;
  }

  .btn_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header {
    text-align: center;
  }
}
